@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>


</h2><div style=”text-align:right”> @Html.ActionLink("Download Report (PDF)", "DetailsReport", "Home", new { target= "_blank" })</div>