@{
    ViewBag.Title = "Acceso Denegado";
}

<table>
    <tr>
        <td>
            <div class="pull-left">
                <div class="toast-object icon-x"></div>
            </div>
        </td>
        <td>
            <hgroup class="title">
                <h1 class="error">Acceso Denegado</h1>
                Acceso denegado para este usuario. Por favor contactar al administrador del sistema 
            </hgroup>
        </td>
    </tr>
</table>

