@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<table>
    <tr>
        <td>
            <div class="pull-left">
                <div class="toast-object icon-x"></div>
            </div>
        </td>
        <td>
            <hgroup class="title">
                <h5 class="error">BI WEB UW: Error</h5>
                <h5 class="error">Ha ocurrido un error en la página. Favor de contactar con su administrador</h5>
                @Model.ControllerName / @Model.ActionName
            </hgroup>
        </td>
    </tr>
</table>

