<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IData" />
        <binding name="BasicHttpBinding_IData1" />
        <!--<binding name="WSConsultaPersonaSoapBinding">
          <security mode="Transport" />
        </binding>-->
        <binding name="WSConsultaPersonaSoapBinding1">
          <security mode="Transport" />
        </binding>
        <!--<binding name="WSConsultaPersonaSoapBinding2" />-->
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://201.157.37.2:8082/Sistran.Contabilidad/Data.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData"
        contract="wsSistran.IData" name="BasicHttpBinding_IData" />
      <endpoint address="http://201.157.37.2:8082/Sistran.IntegracionMasiva/Data.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IData1"
        contract="wsPoliza.IData" name="BasicHttpBinding_IData1" />
      <endpoint address="https://testcol.berkleyonline.com.ar:8443/BIWebMXTest/servlet/com.berkleycomercial10.awsconsultapersona"
        binding="basicHttpBinding" bindingConfiguration="WSConsultaPersonaSoapBinding1"
        contract="wsConsultaPersona.WSConsultaPersonaSoapPort" name="WSConsultaPersonaSoapPort" />
    </client>
  </system.serviceModel>
</configuration>